<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
  <title>Practice - [[${practice.title}]]</title>
</head>
<body>
  <h1>[[${practice.title}]]</h1>
  <p>[[${practice.description}]]</p>
  <h2>Steps</h2>
  <p>[[${practice.steps}]]</p>
  <h2>Example</h2>
  <p>[[${practice.example}]]</p>
  <h2>Conclusion</h2>
  <p>[[${practice.conclusion}]]</p>
</body>
</html>