<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <title>Нейроштурм - Лучшие практики ИИ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
    <style>
        .card:hover .card-title {
            color: #0d6efd;
        }
    </style>
</head>
<body>
<div th:replace="menu-template :: #menu"></div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1>Все практики</h1>
                <a class="btn btn-primary" href="/add-practice">Добавить практику</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-4">
            <div class="col">
                <form id="search-form" th:action="@{/}" method="get">
                    <div class="row">
                        <div class="col-md-4 col-12 mb-2">
                            <input class="form-control" type="search" name="keyword" th:value="${keyword}"
                                   placeholder="Поиск практик" aria-label="Поиск">
                        </div>
                        <div class="col-md-3 col-12 mb-2">
                            <select id="search-select" class="form-select" name="topic" th:value="${selectedTopic}" onchange="this.form.submit()">
                                <option value="" th:selected="${selectedTopic == null}">Все темы</option>
                                <option value="Разработка" th:selected="${selectedTopic == 'Разработка'}">Разработка
                                </option>
                                <option value="Анализ" th:selected="${selectedTopic == 'Анализ'}">Анализ</option>
                                <option value="Тестирование" th:selected="${selectedTopic == 'Тестирование'}">
                                    Тестирование
                                </option>
                                <option value="Документирование" th:selected="${selectedTopic == 'Документирование'}">
                                    Документирование
                                </option>
                                <option value="DevOps" th:selected="${selectedTopic == 'DevOps'}">DevOps</option>
                            </select>
                        </div>
                        <script>
                            document.getElementById("search-select").addEventListener("change", function() {
                                document.getElementById("search-form").submit();
                            });
                        </script>
                        <div class="col-md-3 col-12 mb-2">
                            <div class="d-flex align-items-center">
                                <label for="filter" class="form-label me-2">Сортировать&nbsp;по:</label>
                                <select id="filter" name="sort" class="form-select" onchange="this.form.submit()" style="min-width: 250px;">
                                    <option value="" th:selected="${sort == null}">Выберите сортировку</option>
                                    <option value="title" th:selected="${sort == 'title'}">По названию</option>
                                    <option value="createdAt" th:selected="${sort == 'createdAt'}">По дате создания</option>
                                    <option value="views" th:selected="${sort == 'views'}">По количеству просмотров</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-12 mb-2 d-flex justify-content-md-end justify-content-start">
                            <button class="btn btn-outline-success" type="submit">Поиск</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:if="${error}" class="alert alert-warning">
        По вашему запросу ничего не нашлось =( <br> Однако вы можете ознакомиться со следующими практиками.
    </div>

    <div  class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Для каждой практики создаем блок col-4 -->
        <div th:each="practice : ${practices}" class="col">
            <!-- Создаем карточку card -->

            <div class="card h-100">

                <img class="card-img-top"
                     th:src="${practice.previewImage != null} ? ${practice.previewImage} : '/img/practice-default-logo.png'"
                     style="height: 250px; object-fit: contain;" alt="Preview Image">

                <!--                    <img  class="card-img-top" th:src="${practice.previewImage}" style="height: 250px; object-fit: contain;" alt="Preview Image">-->

                <!-- Добавляем блок для содержимого карточки -->
                <div class="card-body d-flex flex-column">
                    <!-- Добавляем заголовок практики -->
                    <h5 class="card-title" th:text="${practice.title}"></h5>
                    <!-- Добавляем описание практики -->

                    <p class="card-subtitle text-small text-muted">Просмотров: <span th:text="${practice.views}" /></p>
                    <p class="card-text" th:text="${practice.description}"></p>

                    <span class="badge badge rounded-pill  bg-primary mt-auto"
                          th:if="${practice.topic !=null && !practice.topic.isBlank()}"
                          th:text="${T(ru.iac.hakaton.neirostorm.model.Topic).fromName(practice.topic).displayName}"></span>

                    <a th:href="@{/practice/{id}(id=${practice.id})}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
