<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <meta charset="UTF-8"/>
    <title>Добавить практику</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="menu-template :: #menu"></div>

<div class="container mt-5">
    <h2 class="mb-4">Описание практики</h2>
    <form th:action="@{/practice/${practice.id}/update}" th:object="${practice}" method="put">
        <div class="mb-3">
            <label for="ownerName" class="form-label">Автор практики:</label>
            <input type="text" class="form-control" id="ownerName" name="ownerName" th:field="*{ownerName}" required>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Название:</label>
            <input type="text" class="form-control" id="title" name="title" th:field="*{title}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание:</label>
            <textarea class="form-control" id="description" name="description" th:field="*{description}" required></textarea>
        </div>
        <div class="mb-3">
            <label for="steps" class="form-label">Шаги:</label>
            <textarea class="form-control" id="steps" name="steps" th:field="*{steps}" required></textarea>
        </div>
        <div class="mb-3">
            <label for="example" class="form-label">Пример:</label>
            <textarea class="form-control" id="example" name="example" th:field="*{example}" required></textarea>
        </div>
        <div class="mb-3">
            <label for="conclusion" class="form-label">Вывод:</label>
            <textarea class="form-control" id="conclusion" name="conclusion" th:field="*{conclusion}" required></textarea>
        </div>
        <div class="mb-3">
            <label for="previewImage" class="form-label">Превью изображение:</label>
            <input type="text" class="form-control" id="previewImage" name="previewImage" th:field="*{previewImage}">
        </div>
        <div class="mb-3">
            <label for="topic" class="form-label">Тема:</label>
            <select class="form-select" id="topic" name="topic" th:field="*{topic}" required>
                <option value="">-- Выбрать тему --</option>
                <option th:each="topic : ${topics}" th:value="${topic}" th:text="${topic.displayName}"></option>
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Изменить практику</button>
        </div>
    </form>
</div>
</body>
</html>